<h1>New rugby world cup host country</h1>

<%= render "form", rugby_world_cup_host_country: @rugby_world_cup_host_country %>

<br>

<div>
  <%= link_to "Back to rugby world cup host countries", rugby_world_cup_host_countries_path %>
</div>
